.wrapper {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px solid #EEEEEE;
  width: 500px;
  overflow: auto;
}
.wrapper .item {
  margin-top: 5px;
  margin-bottom: 0px;
  border: 1px solid #34495e;
  cursor: pointer;
  transition: all 0.4s ease;
}
.wrapper .item .info {
  background-color: #34495e;
  color: white;
  padding: 20px;
}
.wrapper .item .content {
  height: 0;
  padding: 0;
  background-color: white;
  overflow-y: hidden;
  transition: all 0.2s ease;
}
.wrapper .item.expanded .content {
  padding: 20px;
  height: 400px;
}
.wrapper .item.fly-top {
  margin-top: -1000px;
}
.wrapper .item.fly-bottom {
  margin-bottom: -1000px;
}
